[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghp-import = "*"
pelican = "*"
pynvim = "*"
invoke = "*"
livereload = "*"
pelican-drafts = "*"

[dev-packages]
