{% extends "base.html" %}

{% block html_title %}Archives - {{ SITENAME }}{% endblock %}

{% block header %}
    <hgroup>
        <h1>Archive</h1>
        <h2>for &ldquo;{{ SITENAME }}&rdquor;</h2>
    </hgroup>
{% endblock %}

{% block content %}
    <section>
        <dl>
            {% for article in dates %}
                <dt>{{ article.locale_date }}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            {% endfor %}
        </dl>
    </section>
{% endblock %}
