<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block htmlhead %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{% block html_title %}{{ SITENAME }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/theme/css/normalize.css">
        <link rel="stylesheet" href="/theme/css/styles.css">
        <link rel="stylesheet" href="/theme/css/pygment.css">
        {{ HEAD_EXTRA }}
        {% if DEBUG %}
        {% endif %}
    {% endblock %}
</head>

<body>
{% macro author_and_date(article) %}
    {% if article.author %}
        <span class="author">By {{ article.author }}</span>
    {% endif %}
    {% if article.locale_date %}
        <span class="publication-date" title="{{ article.date.isoformat() }}"> on {{ article.locale_date }}</span>
    {% endif %}
    {% if article.modified %}
        <span class="modification-date" title="{{ article.modified.isoformat() }}"> last modified on {{ article.modified|strftime(DEFAULT_DATE_FORMAT) }}</span>
    {% endif %}
{% endmacro %}

<div id="wrapper">

    <nav>
        <ul id="menu">
            {% for title, link in MENUITEMS %}
                <li{% if link == '/' + output_file %} class="active"{% endif %}><a href="{{ link }}">{{ title }}</a>
                </li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                    <li{% if p == page %} class="active"{% endif %}><a
                            href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a
                            href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>

    <header class="page-header">
        {% block header %}
        {% endblock %}
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        {% block footer %}
            {{ COPYRIGHT }}
        {% endblock %}
    </footer>

</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% if ENABLE_SLICKNAV %}
    <link rel="stylesheet" href="/theme/lib/slicknav/slicknav.min.css">
    <script src="/theme/lib/slicknav/jquery.slicknav.min.js"></script>
    <script>
        $(function () {
            $('#menu').addClass("with-slicknav").slicknav({'label': ''});
        });
    </script>
{% endif %}

{% include 'integrations/googleanalytics.html' %}

</html>
