<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block htmlhead %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ SITENAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/theme/styles.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" href="/theme/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
        <link rel="apple-touch-icon" sizes="114x114" href="/theme/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/theme/favicon152.png">
        <link rel="apple-touch-icon" sizes="196x196" href="/theme/favicon196.png">
    {% endblock %}
</head>

<body>
<div id="wrapper">


    <nav class="byline">
        <ul id="menu">
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in PAGES %}
                    <li{% if p == page %} class="active"{% endif %}><a
                            href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
            {% elif DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a
                            href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>

    <header class="page-header">
        {% block header %}
        {% endblock %}
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        {% block footer %}
            This is the blog "{{ SITENAME }}" &mdash; {{ COPYRIGHT }}
        {% endblock %}
    </footer>

</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="/theme/slicknav.css">
<script src="/theme/jquery.slicknav.min.js"></script>

<script>
    $(function () {
        $('#menu').slicknav({'label': ''});
    });
</script>

{% include 'integrations/googleanalytics.html' %}

</html>
