{% extends "base.html" %}
{% block header %}
        <hgroup>
          <h1>{{SITENAME}}</h1>
          {% if TAGLINE %}<h2 class="tagline">{{TAGLINE}}</h2>{% endif %}
        </hgroup>
{% endblock %}

{% block content %}
<section id="content">
<ul id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="hentry">
            <header class="article-list"> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="link to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                <div class="article-meta">
                    <address class="vcard author">By
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>
                    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.date.strftime(" on %d.%m.%Y") }} </abbr>
                </div>
	    </header>
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>
{% endfor %}
</ul><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
